.item {
}

.item:last-of-type {
}

.users {
    width: 600px;
}

.buttonsContainer {
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
}

.thead {
    background-color: #E5E5E5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.nameCol {
    width: 50%;
    padding: 5px 10px;
}

.ageCol {
    width: 50%;
}