.greetingForm {
    position: relative;
    margin: 50px 0;
}

.inputAndButtonContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.error {
    position: absolute;
    /* left: 20px; */
    /* bottom: 15px; */
    color: #CC1439;
}

.input {
    min-width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    padding: 0 10px;
   
}

.input:focus {
    outline: none;
}
.errorInput:focus {
    outline: none;
}

.errorInput {
    min-width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #CC1439;
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

.button {
    margin-left: 12px;
    padding: 8px 24px;
    background-color: #0066CC;
    border-radius: 3px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #004f9e;
}

.button:disabled {
    background-color: #0066cc7c;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;    
    color: rgba(0, 0, 0, 0.5)
}

.greeting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: absolute;
    bottom: -40px;
}
